# Dependencies
node_modules

# Build output
dist
build
coverage

# Vite / tooling cache
.vite
.cache
.parcel-cache
.eslintcache

# Minified files
*.min.js
*.min.css

# Lock files
yarn.lock
package-lock.json
pnpm-lock.yaml


